.index-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(background1.jpeg);
    background-size: cover;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.index-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.index-position {
    margin: 8rem 0 0 0;
}

.index-header-container {
    font-size: 2rem;
    margin: 0 0 5rem 0;
    color: white;
}

.index-h1 {
    text-decoration: underline;
    margin-bottom: 0.5rem;
    transform: rotate(360deg);
    transition: 3s;
} 

.index-subheader {
    margin-top: 0;
    font-size: 2.5rem;
    color: white;
}

.index-button-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    height: 15rem;
}

.index-button {
    text-decoration: none;
    border: 0.2rem solid #C8C6C6;
    background-color: #fff;
    color: #000;
    border-radius: 0.5rem;
    margin: 3rem;
    padding: 1rem;
    font-weight: bold;
}

.index-button:hover {
    background-color: #185ADB;
}

.profile-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(background1.jpeg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.nav-bar-container {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0;
}

.nav-properties {
    text-decoration: none;
    color: #96BAFF;
    margin: 20px;
    font-size: 1.2rem;
}

.nav-properties:hover {
    color: #FF4848;
}

.eachpage-header-container {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
}

.eachpage-h1 {
    text-decoration: underline;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 70%;
}

.profile-part-containers {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin:0;
    width: 33%;
}

.eachpage-h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.profile-p {
    font-size: 1rem;
    background-color: #000;
}

.profile-icon {
    display: flex;
    text-decoration: none;
    color: #FFD31D;
    width: 100%;
}

.profile-icon:hover {
    color: #81B214;
}

.profile-icon-p {
    margin: 1rem;
}

.resume-page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-bottom: 38rem;
    background-image: url(background1.jpeg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.resume-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
}

.resume-part-position {
    width: 45%;
}

.resume-h3 {
    margin: 0.5rem 0;
    text-decoration: underline;
    background-color: #000;
}

.resume-p {
    margin: 0.5rem 0;
    background-color: #000;
}

.resume-time {
    font-style: italic;
}

.resume-ul-projects {
    padding-left: 1.5rem;
}

.resume-li-projects {
    margin: 0.5rem 0;
}

.resume-ul-work {    
    list-style: none;
    padding: 0;
    margin: 0.8rem;
}

.resume-li-work {
    margin: 0.3rem 0;
    background-color: #000;
}

.resume-li-work::before {
    content: "\21E8";
}

.resume-education {
    margin: 0.3rem 0;
}

.resume-education::before {
    content: "\272F";
}

.resume-ul-skills {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #000;
    padding: 0px;
    margin: 0px;
}

.resume-li-skills {
    background-color: #fff;
    margin: 0.3rem 0.5rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.resume-ul-language {
    list-style-type: none;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: #7579E7;
    padding: 0px;
    margin: 0px;
}

.resume-dl {
    margin: 0.5rem 0;
    background-color: #000;
    display: block;
    max-width: 15rem;
}

.resume-link {
    text-decoration: none;
    color: #FFD31D;
}

.resume-link:hover {
    color: #81B214;
}

.other-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13rem 0 0 0 ;
    font-size: 1.8rem;
}

.other-links-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: auto;
    
}

.other-links-icon {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: #FFD31D;
    font-size: 2rem;
}

.other-links-p {
    margin: 0.5rem 0;
}

.other-links-icon:hover {
    color: #81B214;
}



@media screen and (max-width: 500px) {
    .index-h1 {
        font-size: 2.5rem;
    }
    .index-subheader {
        font-size: 2rem;
    }
    .index-button {
        padding: 0.6rem;
    }
    .index-header-container {
        margin: 0 0 3rem 0;
    }
    .index-button-container {
        flex-direction: column;
        justify-content: space-between;
        height: 10rem;
    }
}

@media screen and (max-width: 1060px) {
    .profile-container {
        flex-direction: column;
        text-align: center;
        width: 70%
    }
    .eachpage-h1 {
        font-size: 2rem;
        margin: 0;
    }
    .eachpage-h2 {
        font-size: 1.5rem;
    }
    .profile-part-containers {
        width: 100%;
        margin: 0;
    }
    .nav-bar-container {
        justify-content: center;
    }
    .nav-properties {
        font-size: 0.9rem;
        margin: 0.2rem;
    }
    .resume-container {
        flex-direction: column;
        width: 80%;
    }
    .resume-part-position {
        width: 100%;
    }
    .resume-h3 {
        font-size: 1rem;
    }
    .other-links-icon {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 700px) {
    .profile-container {
        width: 90%
    }
}

@media screen and (max-width: 700px) {
    .resume-container {
        width: 90%;
    }
}